[Unit]
Description=Gunicorn instance to serve AirBnB clone
# start after network is available
After=network.target

[Service]
# user and group to run the service
User=ubuntu
# set the working directory
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4
# start Gunicorn with 3 workers
ExecStart=gunicorn --workers 3 --bind 0.0.0.0:5003 web_dynamic.2-hbnb:app -error-logfile /tmp/airbnb-error.log
# restart on failure
Restart=always
# redirect standard output to syslog
StandardOutput=append:/tmp/airbnb-access.log
# redirect standard error to syslog
StandardError=append:/tmp/airbnb-error.log
# identifier for syslog messages
SyslogIdentifier=gunicorn

[Install]
# enable the service for multi-user.target
WantedBy=multi-user.target
